$dark0: #091217;
$dark1: #1a2538;
$dark2: #132624;
$dark3: #566577;
$dark4: #778faf;
$dark5: #5eb1bf;
$dark6: #f8f4e3;

$light0: #150b1e;
$light1: #8fbbbd;
$light2: #e2c95a;
$light3: #bfefbd;
$light4: #cfd7c7;
$light5: #f6a38e;
$light6: #f6f1d1;
