[data-theme="dark"] {
  --app-background-color: #091a28;
  --background-highlight-color: #778faf;
  --dynamic-title-color: #f6f1d1;
  --dynamic-subtitle-color: #f8f4e3;
  --dynamic-border-color: #566577;
  --button-color: #5eb1bf;
  --button-hover-color: #f8f4e3;
}

[data-theme="light"] {
  --app-background-color: #f6f1d1;
  --background-highlight-color: #cfd7c7;
  --dynamic-title-color: #150b1e;
  --dynamic-subtitle-color: #98703f;
  --dynamic-border-color: #fffdd2;
  --dyanic-selected-color: #fffdd2;
  --button-color: #bfefbd;
  --button-hover-color: #8fbbbd;
}
